.result_Link_div {
	width: 300px;
}

.result_Carousel_div {
	width: 300px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#DeltaPageStatusBar {
	display:none;
}
